.cont {
    margin-top: 30px;
}

.action {
    width: 80px;
    margin-left: 10px;
}

.buttons_form {
    display: flex;
    justify-content: space-between;
}

.time {
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
